In [1]:
import pandas as pd

In [409]:
defense= pd.read_csv("roster/defense.csv")
offense= pd.read_csv("roster/offense.csv")
special= pd.read_csv("roster/special.csv")

In [410]:
players_df = pd.concat([defense,offense])
players_df = pd.concat([players_df,special])
players_df = players_df.drop(columns=['Unnamed: 0']).reset_index(drop=True)

In [413]:
import re 
  
def remove(list): 
    pattern = '[0-9]'
    list = [re.sub(pattern, '', i) for i in list] 
    return list
players_df["FullName"]=remove(players_df.Name)

In [414]:
first = []
last = []

test = [name.split for name in players_df.FullName]
for name in players_df.FullName:
    name_split = name.split(' ')
    if len(name_split)<3:
        
        first.append(name_split[0])
        last.append(name_split[1])
    else:
        first.append(name_split[0])
        last.append(name_split[1]+" " +name_split[2])

players_df["First Name"] = first
players_df["Last Name"] = last

In [415]:
team_abv_list = []
for i in range(0,len(players_df.team)):
    x = True
    for j in range(0,len(team_df.Team)):
        
        if players_df.team[i] in team_df.Team[j] and x == True:
                   
            team_abv_list.append(team_df.TM[j])
            x=False
                   
            
            
players_df['TeamID']=team_abv_list
players_df = players_df.rename(columns={"Name":"PlayerID"})

In [417]:
players_df = players_df.drop(columns=['team'])

In [418]:


players_df.to_csv("temp/players_df.csv")

In [420]:
len(players_df)

2840

In [97]:
metrics

,Name,Height,Weight,Forty Yard Dash,Shuttle Time,Vertical Jump,Broad Jump,Bench Press,Cone Drill
0,Tom Brady,"6' 4""",225 lbs,5.28 sec,4.38 sec,24.5 in,99 in,NaN,7.20 sec
1,Drew Brees,"6' 0""",209 lbs,4.83 sec,4.21 sec,32.0 in,105 in,NaN,7.09 sec
2,Will Allen,"5' 10""",192 lbs,4.58 sec,4.25 sec,36.0 in,115 in,NaN,7.06 sec
3,Reggie Wayne,"6' 0""",203 lbs,4.45 sec,NaN,36.0 in,NaN,NaN,NaN
4,Steve Smith,"5' 9""",195 lbs,4.44 sec,4.19 sec,38.0 in,120 in,NaN,6.68 sec
...,...,...,...,...,...,...,...,...,...
3646,Evan Weaver,"6' 2""",237 lbs,4.76 sec,4.21 sec,32.0 in,117 in,15 reps,7.02 sec
3647,Casey Toohill,"6' 4""",250 lbs,4.62 sec,4.21 sec,39.0 in,126 in,17 reps,7.08 sec
3648,Mykal Walker,"6' 3""",230 lbs,4.65 sec,4.25 sec,33.0 in,122 in,20 reps,7.09 sec
3649,Chapelle Russell,"6' 2""",236 lbs,4.69 sec,4.41 sec,35.0 in,121 in,21 reps,7.38 sec
3650,Justin Strnad,"6' 3""",238 lbs,4.74 sec,4.49 sec,29.0 in,113 in,NaN,NaN

In [107]:
players_df.head()

,PlayerID,POS,Age,HT,WT,Exp,College,team,FullName,First Name,Last Name,TeamID
0,Mario Addison97,DE,32,"6' 3""",260 lbs,10,Troy,Bills,Mario Addison,Mario,Addison,BUF
1,Bryan Cox Jr.94,DE,25,"6' 3""",270 lbs,4,Florida,Bills,Bryan Cox Jr.,Bryan,Cox Jr.,BUF
2,AJ Epenesa57,DE,21,"6' 6""",280 lbs,R,Iowa,Bills,AJ Epenesa,AJ,Epenesa,BUF
3,Jerry Hughes55,DE,31,"6' 2""",254 lbs,11,TCU,Bills,Jerry Hughes,Jerry,Hughes,BUF
4,Darryl Johnson92,DE,23,"6' 6""",253 lbs,2,North Carolina A&T,Bills,Darryl Johnson,Darryl,Johnson,BUF

In [92]:
#Player Metrics

In [345]:
metric = pd.read_csv("rotowire/cleaned_rotowire2.csv")

In [346]:
metrics = metric[["Name", "Height", "Weight", "Forty Yard Dash", "Shuttle Time", "Vertical Jump", "Broad Jump", "Bench Press", "Cone Drill"]]


metric_merge = metrics.merge(players_df, left_on='Name', right_on="FullName", how = 'inner')
metric_merge = metric_merge[["PlayerID","Name", "Height", "Weight", "Forty Yard Dash", "Shuttle Time", "Vertical Jump", "Broad Jump", "Bench Press", "Cone Drill"]]
metric_merge = metric_merge.drop(columns=['Name'])
metric_merge.to_csv("temp/metrics_df.csv")

In [347]:
metric_merge

,PlayerID,Height,Weight,Forty Yard Dash,Shuttle Time,Vertical Jump,Broad Jump,Bench Press,Cone Drill
0,Tom Brady12,"6' 4""",225 lbs,5.28 sec,4.38 sec,24.5 in,99 in,NaN,7.20 sec
1,Drew Brees9,"6' 0""",209 lbs,4.83 sec,4.21 sec,32.0 in,105 in,NaN,7.09 sec
2,Jason Witten82,"6' 6""",263 lbs,4.65 sec,NaN,31.0 in,NaN,25 reps,NaN
3,Larry Fitzgerald11,"6' 3""",218 lbs,4.48 sec,4.28 sec,38.0 in,NaN,NaN,6.94 sec
4,Mike Williams81,"6' 5""",229 lbs,4.53 sec,4.31 sec,33.5 in,116 in,8 reps,6.90 sec
...,...,...,...,...,...,...,...,...,...
1551,Evan Weaver50,"6' 2""",237 lbs,4.76 sec,4.21 sec,32.0 in,117 in,15 reps,7.02 sec
1552,Casey Toohill52,"6' 4""",250 lbs,4.62 sec,4.21 sec,39.0 in,126 in,17 reps,7.08 sec
1553,Mykal Walker43,"6' 3""",230 lbs,4.65 sec,4.25 sec,33.0 in,122 in,20 reps,7.09 sec
1554,Chapelle Russell53,"6' 2""",236 lbs,4.69 sec,4.41 sec,35.0 in,121 in,21 reps,7.38 sec
1555,Justin Strnad23,"6' 3""",238 lbs,4.74 sec,4.49 sec,29.0 in,113 in,NaN,NaN

In [348]:
defense_df = pd.read_csv("stats/defense.csv")
kicking_df = pd.read_csv("stats/kicking.csv")
passing_df = pd.read_csv("stats/passing.csv")
punting_df = pd.read_csv("stats/punting.csv")
receiving_df = pd.read_csv("stats/receiving.csv")
returning_df = pd.read_csv("stats/returning.csv")
rushing_df = pd.read_csv("stats/rushing.csv")
scoring_df = pd.read_csv("stats/scoring.csv")

In [177]:
# defense_df = defense_df.drop(columns=["Unnamed: 0"])
kicking_df = kicking_df.drop(columns=["Unnamed: 0"])
passing_df = passing_df.drop(columns=["Unnamed: 0"])
punting_df = punting_df.drop(columns=["Unnamed: 0"])
receiving_df = receiving_df.drop(columns=["Unnamed: 0"])
returning_df = returning_df.drop(columns=["Unnamed: 0"])
rushing_df = rushing_df.drop(columns=["Unnamed: 0"])
scoring_df = scoring_df.drop(columns=["Unnamed: 0"])

KeyError: "['Unnamed: 0'] not found in axis"

In [356]:
defense_df = pd.read_csv("stats/defense.csv")
defense_df = defense_df.drop(columns=["Unnamed: 0"])

In [357]:
defense_df

,Name,"('Unnamed: 0_level_0', 'GP')","('Tackles', 'SOLO')","('Tackles', 'AST')","('Tackles', 'TOT')","('Sacks', 'SACK')","('Sacks', 'SCKYDS')","('Sacks', 'TFL')","('Interceptions', 'PD')","('Interceptions', 'INT')","('Interceptions', 'YDS')","('Interceptions', 'LNG')","('Interceptions', 'TD')","('Fumbles', 'FF')","('Fumbles', 'FR')","('Fumbles', 'FTD')","('Unnamed: 15_level_0', 'KB')",class,team
0,Tremaine Edmunds LB,16,66,49,115,1.5,11,11.5,9,1,0,0,0,0,0,0,0,Defense,Bills
1,Jordan Poyer S,16,71,36,107,1.0,5,5.5,3,2,0,0,0,3,3,0,0,Defense,Bills
2,Matt Milano LB,15,65,36,101,1.5,12,9.5,9,0,0,0,0,1,1,0,0,Defense,Bills
3,Levi Wallace CB,16,66,10,76,0.0,0,4.0,9,2,2,2,0,0,0,0,0,Defense,Bills
4,Micah Hyde S,16,50,22,72,0.0,0,1.5,2,1,0,0,0,2,1,0,0,Defense,Bills
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1484,Russell Wilson QB,16,1,0,1,0.0,0,0.0,0,0,0,0,0,0,0,0,0,Defense,Seahawks
1485,George Fant OT,16,1,0,1,0.0,0,0.0,0,0,0,0,0,0,0,0,0,Defense,Seahawks
1486,Malik Turner WR,15,1,0,1,0.0,0,0.0,0,0,0,0,0,1,0,0,0,Defense,Seahawks
1487,Ryan Neal CB,3,1,0,1,0.0,0,0.0,0,0,0,0,0,0,0,0,0,Defense,Seahawks
1488,Duane Brown OT,12,1,0,1,0.0,0,0.0,0,0,0,0,0,0,0,0,0,Defense,Seahawks

In [358]:
defense_df = defense_df.rename(columns={
    "('Unnamed: 0_level_0', 'GP')":"GP",
    "('Tackles', 'SOLO')":"TACKLES_SOLO",
    "('Tackles', 'AST')":"TACKLES_AST",
    "('Tackles', 'TOT')":"TACKLES_TOT",
    "('Sacks', 'SACK')":"SACKS",
    "('Sacks', 'SCKYDS')":"SACKS_SCKYDS",
    "('Sacks', 'TFL')":"SACKS_TFL",
    "('Interceptions', 'PD')":"INTERCEPTIONS_PD",
    "('Interceptions', 'INT')":"INTERCEPTIONS_INT",
    "('Interceptions', 'YDS')":"INTERCEPTIONS_YDS",
    "('Interceptions', 'LNG')":"INTERCEPTIONS_LNG",
    "('Interceptions', 'TD')":"INTERCEPTIONS_TD",
    "('Fumbles', 'FF')":"FUMBLES_FF",
    "('Fumbles', 'FR')":"FUMBLES_FR",
    "('Fumbles', 'FTD')":"FUMBLES_FTD",
    "('Unnamed: 15_level_0', 'KB')":"KB"
                         })

In [359]:
defense_df

,Name,GP,TACKLES_SOLO,TACKLES_AST,TACKLES_TOT,SACKS,SACKS_SCKYDS,SACKS_TFL,INTERCEPTIONS_PD,INTERCEPTIONS_INT,INTERCEPTIONS_YDS,INTERCEPTIONS_LNG,INTERCEPTIONS_TD,FUMBLES_FF,FUMBLES_FR,FUMBLES_FTD,KB,class,team
0,Tremaine Edmunds LB,16,66,49,115,1.5,11,11.5,9,1,0,0,0,0,0,0,0,Defense,Bills
1,Jordan Poyer S,16,71,36,107,1.0,5,5.5,3,2,0,0,0,3,3,0,0,Defense,Bills
2,Matt Milano LB,15,65,36,101,1.5,12,9.5,9,0,0,0,0,1,1,0,0,Defense,Bills
3,Levi Wallace CB,16,66,10,76,0.0,0,4.0,9,2,2,2,0,0,0,0,0,Defense,Bills
4,Micah Hyde S,16,50,22,72,0.0,0,1.5,2,1,0,0,0,2,1,0,0,Defense,Bills
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1484,Russell Wilson QB,16,1,0,1,0.0,0,0.0,0,0,0,0,0,0,0,0,0,Defense,Seahawks
1485,George Fant OT,16,1,0,1,0.0,0,0.0,0,0,0,0,0,0,0,0,0,Defense,Seahawks
1486,Malik Turner WR,15,1,0,1,0.0,0,0.0,0,0,0,0,0,1,0,0,0,Defense,Seahawks
1487,Ryan Neal CB,3,1,0,1,0.0,0,0.0,0,0,0,0,0,0,0,0,0,Defense,Seahawks
1488,Duane Brown OT,12,1,0,1,0.0,0,0.0,0,0,0,0,0,0,0,0,0,Defense,Seahawks

In [360]:
defense_df = defense_df.drop(columns=['class','team'])

In [361]:
for i in range(0,len(defense_df.Name)):
    defense_df.Name[i]=defense_df.Name[i].replace(defense_df.Name[i].split(" ").pop(-1),"").strip()

defense_df

C:\Users\chand\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Name,GP,TACKLES_SOLO,TACKLES_AST,TACKLES_TOT,SACKS,SACKS_SCKYDS,SACKS_TFL,INTERCEPTIONS_PD,INTERCEPTIONS_INT,INTERCEPTIONS_YDS,INTERCEPTIONS_LNG,INTERCEPTIONS_TD,FUMBLES_FF,FUMBLES_FR,FUMBLES_FTD,KB
0,Tremaine Edmunds,16,66,49,115,1.5,11,11.5,9,1,0,0,0,0,0,0,0
1,Jordan Poyer,16,71,36,107,1.0,5,5.5,3,2,0,0,0,3,3,0,0
2,Matt Milano,15,65,36,101,1.5,12,9.5,9,0,0,0,0,1,1,0,0
3,Levi Wallace,16,66,10,76,0.0,0,4.0,9,2,2,2,0,0,0,0,0
4,Micah Hyde,16,50,22,72,0.0,0,1.5,2,1,0,0,0,2,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1484,Russell Wilson,16,1,0,1,0.0,0,0.0,0,0,0,0,0,0,0,0,0
1485,George Fant,16,1,0,1,0.0,0,0.0,0,0,0,0,0,0,0,0,0
1486,Malik Turner,15,1,0,1,0.0,0,0.0,0,0,0,0,0,1,0,0,0
1487,Ryan Neal,3,1,0,1,0.0,0,0.0,0,0,0,0,0,0,0,0,0
1488,Duane Brown,12,1,0,1,0.0,0,0.0,0,0,0,0,0,0,0,0,0

In [362]:
defense_df = defense_df.merge(players_df, left_on='Name',right_on="FullName", how = 'inner')

In [363]:
defense_df.head(1)

,Name,GP,TACKLES_SOLO,TACKLES_AST,TACKLES_TOT,SACKS,SACKS_SCKYDS,SACKS_TFL,INTERCEPTIONS_PD,INTERCEPTIONS_INT,...,Age,HT,WT,Exp,College,team,FullName,First Name,Last Name,TeamID
0,Tremaine Edmunds,16,66,49,115,1.5,11,11.5,9,1,...,22,"6' 5""",250 lbs,3,Virginia Tech,Bills,Tremaine Edmunds,Tremaine,Edmunds,BUF

In [364]:
defense_df = defense_df.drop(columns=["Age","HT","WT","Exp","College","team","FullName","First Name","Last Name","TeamID",'POS','Name'])
defense_df.to_csv("temp/defense_df.csv")

In [365]:
defense_df

,GP,TACKLES_SOLO,TACKLES_AST,TACKLES_TOT,SACKS,SACKS_SCKYDS,SACKS_TFL,INTERCEPTIONS_PD,INTERCEPTIONS_INT,INTERCEPTIONS_YDS,INTERCEPTIONS_LNG,INTERCEPTIONS_TD,FUMBLES_FF,FUMBLES_FR,FUMBLES_FTD,KB,PlayerID
0,16,66,49,115,1.5,11,11.5,9,1,0,0,0,0,0,0,0,Tremaine Edmunds49
1,16,71,36,107,1.0,5,5.5,3,2,0,0,0,3,3,0,0,Jordan Poyer21
2,15,65,36,101,1.5,12,9.5,9,0,0,0,0,1,1,0,0,Matt Milano58
3,16,66,10,76,0.0,0,4.0,9,2,2,2,0,0,0,0,0,Levi Wallace39
4,16,50,22,72,0.0,0,1.5,2,1,0,0,0,2,1,0,0,Micah Hyde23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1269,16,1,0,1,0.0,0,0.0,0,0,0,0,0,0,0,0,0,DK Metcalf14
1270,16,1,0,1,0.0,0,0.0,0,0,0,0,0,0,0,0,0,Russell Wilson3
1271,16,1,0,1,0.0,0,0.0,0,0,0,0,0,0,0,0,0,George Fant74
1272,3,1,0,1,0.0,0,0.0,0,0,0,0,0,0,0,0,0,Ryan Neal35
1273,12,1,0,1,0.0,0,0.0,0,0,0,0,0,0,0,0,0,Duane Brown76

In [366]:
defense_df.to_csv("temp/defense_df.csv")

In [212]:
kicking_df = kicking_df.rename(columns={
    "('Unnamed: 0_level_0', 'GP')":"GP",
    "('Field Goals', 'FGM')":"FGM",
    "('Field Goals', 'FGA')":"FGA",
    "('Field Goals', 'FG%')":"FG%",
    "('Field Goals', 'LNG')":"LNG",
    "('Field Goals', '1-19')":"FG_01-19",
    "('Field Goals', '20-29')":"FG_20-29",
    "('Field Goals', '30-39')":"FG_30-39",
    "('Field Goals', '40-49')":"FG_40-49",
    "('Field Goals', '50+')":"FG_50+",
    "('Extra points', 'XPM')":"XPM",
    "('Extra points', 'XPA')":"XPA",
    "('Extra points', 'XP%')":"XP%"})

In [213]:
id_df = players_df[['PlayerID','FullName']]

In [214]:
for i in range(0,len(kicking_df.Name)):
    kicking_df.Name[i]=kicking_df.Name[i].replace(kicking_df.Name[i].split(" ").pop(-1),"").strip()

kicking_df

C:\Users\chand\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Unnamed: 0,Name,GP,FGM,FGA,FG%,LNG,FG_01-19,FG_20-29,FG_30-39,FG_40-49,FG_50+,XPM,XPA,XP%,class,team
0,0,Stephen Hauschka,16,22,28,78.6,51,0-0,5-5,7-8,9-10,1-5,30,32,93.8,Kicking,Bills
1,1,Jason Sanders,16,23,30,76.7,54,0-0,7-7,8-9,5-9,3-5,29,30,96.7,Kicking,Dolphins
2,2,Nick Folk,7,14,17,82.4,51,1-1,5-5,3-3,4-7,1-1,12,12,100.0,Kicking,Patriots
3,3,Stephen Gostkowski,4,7,8,87.5,41,0-0,3-3,3-3,1-2,0-0,11,15,73.3,Kicking,Patriots
4,4,Mike Nugent,4,5,8,62.5,37,0-0,3-4,2-3,0-1,0-0,15,16,93.8,Kicking,Patriots
5,5,Kai Forbath,1,1,1,100.0,23,0-0,1-1,0-0,0-0,0-0,1,2,50.0,Kicking,Patriots
6,6,Sam Ficken,15,19,27,70.4,54,0-0,2-2,7-8,7-11,3-6,23,26,88.5,Kicking,Jets
7,7,Justin Tucker,16,28,29,96.6,51,0-0,8-8,9-9,10-11,1-1,57,59,96.6,Kicking,Ravens
8,8,Randy Bullock,16,27,31,87.1,57,0-0,10-10,6-6,10-12,1-3,24,25,96.0,Kicking,Bengals
9,9,Austin Seibert,16,25,29,86.2,53,0-0,6-6,9-9,9-12,1-2,30,35,85.7,Kicking,Browns
10,10,Chris Boswell,16,29,31,93.5,51,1-1,11-11,7-7,9-10,1-2,28,28,100.0,Kicking,Steelers
11,11,Ka'imi Fairbairn,16,20,25,80.0,54,0-0,5-5,8-8,4-6,3-6,40,45,88.9,Kicking,Texans
12,12,Adam Vinatieri,12,17,25,68.0,55,0-0,6-7,6-6,3-7,2-5,22,28,78.6,Kicking,Colts
13,13,Chase McLaughlin,4,5,6,83.3,50,1-1,1-1,1-1,0-1,2-2,11,11,100.0,Kicking,Colts
14,14,Josh Lambo,16,33,34,97.1,56,0-0,12-12,9-9,8-9,4-4,19,20,95.0,Kicking,Jaguars
15,15,Cairo Santos,5,4,9,44.4,53,0-0,0-0,1-3,2-3,1-3,12,12,100.0,Kicking,Titans
16,16,Cody Parkey,3,3,3,100.0,51,0-0,0-0,0-0,2-2,1-1,5,6,83.3,Kicking,Titans
17,17,Ryan Succop,6,1,6,16.7,31,0-0,0-0,1-1,0-4,0-1,24,25,96.0,Kicking,Titans
18,18,Greg Joseph,2,0,0,0.0,0,0-0,0-0,0-0,0-0,0-0,9,9,100.0,Kicking,Titans
19,19,Brandon McManus,16,29,34,85.3,53,0-0,6-6,9-9,10-12,4-7,25,26,96.2,Kicking,Broncos
20,20,Harrison Butker,16,34,38,89.5,56,0-0,9-9,9-10,13-13,3-6,45,48,93.8,Kicking,Chiefs
21,21,Daniel Carlson,16,19,26,73.1,48,0-0,8-8,5-6,6-10,0-2,34,36,94.4,Kicking,Raiders
22,22,Michael Badgley,8,13,16,81.3,49,0-0,5-5,2-2,6-8,0-1,19,19,100.0,Kicking,Chargers
23,23,Ty Long,16,7,9,77.8,51,0-0,0-0,2-3,4-5,1-1,9,9,100.0,Kicking,Chargers
24,24,Chase McLaughlin,4,6,9,66.7,50,0-0,2-2,2-2,1-4,1-1,7,7,100.0,Kicking,Chargers
25,25,Brett Maher,13,20,30,66.7,63,0-0,9-9,6-8,1-5,4-8,36,36,100.0,Kicking,Cowboys
26,26,Kai Forbath,3,10,10,100.0,50,0-0,1-1,1-1,7-7,1-1,10,10,100.0,Kicking,Cowboys
27,27,Aldrick Rosas,16,12,17,70.6,45,0-0,6-6,5-6,1-4,0-1,35,39,89.7,Kicking,Giants
28,28,Jake Elliott,16,22,26,84.6,53,0-0,7-7,8-8,5-7,2-4,35,37,94.6,Kicking,Eagles
29,29,Dustin Hopkins,16,25,30,83.3,53,0-0,7-8,8-9,8-10,2-3,21,22,95.5,Kicking,Redskins
30,30,Eddy Pineiro,16,23,28,82.1,53,1-1,8-8,9-10,3-7,2-2,27,29,93.1,Kicking,Bears
31,31,Matt Prater,16,26,31,83.9,56,0-0,11-11,2-3,6-9,7-8,35,36,97.2,Kicking,Lions
32,32,Mason Crosby,16,22,24,91.7,54,1-1,2-2,11-11,7-8,1-2,40,41,97.6,Kicking,Packers
33,33,Dan Bailey,16,27,29,93.1,50,0-0,10-10,9-9,5-7,3-3,40,44,90.9,Kicking,Vikings
34,34,Younghoe Koo,8,23,26,88.5,50,0-0,6-6,9-10,7-9,1-1,15,16,93.8,Kicking,Falcons
35,35,Matt Bryant,7,9,14,64.3,52,0-0,1-1,3-4,3-3,2-6,14,15,93.3,Kicking,Falcons
36,36,Joey Slye,16,25,32,78.1,55,0-0,4-5,5-5,8-11,8-11,31,35,88.6,Kicking,Panthers
37,37,Wil Lutz,16,32,36,88.9,58,1-1,9-9,6-6,13-15,3-5,48,49,98.0,Kicking,Saints
38,38,Matt Gay,16,27,35,77.1,58,0-0,6-6,5-7,11-14,5-8,43,48,89.6,Kicking,Buccaneers
39,39,Zane Gonzalez,16,31,35,88.6,54,0-0,12-12,12-13,5-8,2-2,34,35,97.1,Kicking,Cardinals
40,40,Greg Zuerlein,16,24,33,72.7,58,0-0,7-7,7-8,5-11,5-7,42,42,100.0,Kicking,Rams
41,41,Robbie Gould,13,23,31,74.2,47,0-0,9-9,8-10,6-8,0-4,41,42,97.6,Kicking,49ers
42,42,Chase McLaughlin,3,7,8,87.5,48,0-0,2-2,1-1,4-5,0-0,8,8,100.0,Kicking,49ers
43,43,Jason Myers,16,23,28,82.1,54,0-0,6-6,11-11,4-7,2-4,40,44,90.9,Kicking,Seahawks

In [215]:
kicking_df = kicking_df.merge(id_df, left_on='Name',right_on="FullName", how = 'inner')
#kicking_df.drop(columns=['Unnamed: 0', 'Name', 'class', 'team', 'FullName'])

In [219]:
kicking_df = kicking_df.drop(columns=["Unnamed: 0","class","team","FullName","Name"])
kicking_df.to_csv("temp/kicking_df.csv")

In [231]:
# defense_df = pd.read_csv("stats/defense.csv")
# kicking_df = pd.read_csv("stats/kicking.csv")
passing_df = pd.read_csv("stats/passing.csv")
punting_df = pd.read_csv("stats/punting.csv")
receiving_df = pd.read_csv("stats/receiving.csv")
returning_df = pd.read_csv("stats/returning.csv")
rushing_df = pd.read_csv("stats/rushing.csv")
scoring_df = pd.read_csv("stats/scoring.csv")

In [232]:
passing_df = passing_df.drop(columns=['Unnamed: 0','class','team'])

In [233]:
for i in range(0,len(passing_df.Name)):
    passing_df.Name[i]=passing_df.Name[i].replace(passing_df.Name[i].split(" ").pop(-1),"").strip()

passing_df

C:\Users\chand\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Name,GP,CMP,ATT,CMP%,YDS,AVG,YDS/G,LNG,TD,INT,SACK,SYL,QBR,RTG
0,Josh Allen,16,271,461,58.8,3089,6.7,224.9,53,20,9,38,237,45.8,85.3
1,Matt Barkley,2,27,51,52.9,359,7.0,177.5,41,0,3,2,10,9.2,51.0
2,John Brown,15,1,1,100.0,28,28.0,73.0,28,1,0,0,0,100.0,158.3
3,Ryan Fitzpatrick,15,311,502,62.0,3529,7.0,251.5,51,20,13,40,209,64.7,85.5
4,Josh Rosen,6,58,109,53.2,567,5.2,96.7,40,1,5,16,93,19.4,52.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,Jimmy Garoppolo,16,329,476,69.1,3978,8.4,252.5,75,27,13,36,237,60.2,102.0
98,Emmanuel Sanders,10,1,1,100.0,35,35.0,53.7,35,1,0,0,0,100.0,158.3
99,Dante Pettis,11,1,1,100.0,16,16.0,11.4,16,0,0,0,0,59.8,118.8
100,Russell Wilson,16,341,516,66.1,4110,8.0,278.3,60,31,5,48,319,69.4,106.3
101,Josh Gordon,5,0,1,0.0,0,0.0,27.8,0,0,1,0,0,0.0,0.0

In [236]:
id_df

PlayerID    2840
FullName    2840
dtype: int64

In [237]:
passing_df = passing_df.merge(id_df, left_on='Name',right_on="FullName", how = 'inner')

,Name,GP,CMP,ATT,CMP%,YDS,AVG,YDS/G,LNG,TD,INT,SACK,SYL,QBR,RTG,PlayerID,FullName
0,Josh Allen,16,271,461,58.8,3089,6.7,224.9,53,20,9,38,237,45.8,85.3,Josh Allen41,Josh Allen
1,Josh Allen,16,271,461,58.8,3089,6.7,224.9,53,20,9,38,237,45.8,85.3,Josh Allen17,Josh Allen
2,Matt Barkley,2,27,51,52.9,359,7.0,177.5,41,0,3,2,10,9.2,51.0,Matt Barkley5,Matt Barkley
3,John Brown,15,1,1,100.0,28,28.0,73.0,28,1,0,0,0,100.0,158.3,John Brown15,John Brown
4,Ryan Fitzpatrick,15,311,502,62.0,3529,7.0,251.5,51,20,13,40,209,64.7,85.5,Ryan Fitzpatrick14,Ryan Fitzpatrick
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,Cooper Kupp,16,0,1,0.0,0,0.0,72.8,0,0,0,0,0,0.0,39.6,Cooper Kupp18,Cooper Kupp
86,Jimmy Garoppolo,16,329,476,69.1,3978,8.4,252.5,75,27,13,36,237,60.2,102.0,Jimmy Garoppolo10,Jimmy Garoppolo
87,Emmanuel Sanders,10,1,1,100.0,35,35.0,53.7,35,1,0,0,0,100.0,158.3,Emmanuel Sanders17,Emmanuel Sanders
88,Dante Pettis,11,1,1,100.0,16,16.0,11.4,16,0,0,0,0,59.8,118.8,Dante Pettis18,Dante Pettis
89,Russell Wilson,16,341,516,66.1,4110,8.0,278.3,60,31,5,48,319,69.4,106.3,Russell Wilson3,Russell Wilson

In [238]:
passing_df = passing_df.drop(columns=["Name","FullName"])
passing_df.to_csv("temp/passing_df.csv")

In [260]:
# defense_df = pd.read_csv("stats/defense.csv")
# kicking_df = pd.read_csv("stats/kicking.csv")
# passing_df = pd.read_csv("stats/passing.csv")
# punting_df = pd.read_csv("stats/punting.csv")
# receiving_df = pd.read_csv("stats/receiving.csv")
returning_df = pd.read_csv("stats/returning.csv")
# rushing_df = pd.read_csv("stats/rushing.csv")
scoring_df = pd.read_csv("stats/scoring.csv")

In [248]:
punting_df = punting_df.drop(columns=['Unnamed: 0','class','team'])

for i in range(0,len(punting_df.Name)):
    punting_df.Name[i]=punting_df.Name[i].replace(punting_df.Name[i].split(" ").pop(-1),"").strip()

punting_df = punting_df.merge(id_df, left_on='Name',right_on="FullName", how = 'inner')

punting_df = punting_df.drop(columns=["Name","FullName"])


receiving_df = receiving_df.drop(columns=['Unnamed: 0','class','team'])

for i in range(0,len(receiving_df.Name)):
    receiving_df.Name[i]=receiving_df.Name[i].replace(receiving_df.Name[i].split(" ").pop(-1),"").strip()

receiving_df = receiving_df.merge(id_df, left_on='Name',right_on="FullName", how = 'inner')

receiving_df = receiving_df.drop(columns=["Name","FullName"])

rushing_df = rushing_df.drop(columns=['Unnamed: 0','class','team'])

for i in range(0,len(rushing_df.Name)):
    rushing_df.Name[i]=rushing_df.Name[i].replace(rushing_df.Name[i].split(" ").pop(-1),"").strip()

rushing_df = rushing_df.merge(id_df, left_on='Name',right_on="FullName", how = 'inner')

rushing_df = rushing_df.drop(columns=["Name","FullName"])

C:\Users\chand\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\chand\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\chand\Anaconda3\lib\site-packages\ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [252]:
punting_df.to_csv("temp/punting_df.csv")
receiving_df.to_csv("temp/receiving_df.csv")
rushing_df.to_csv("temp/rushing_df.csv")

scoring_df.rename({"Name":"test"})

In [267]:
scoring_df = scoring_df.rename(columns={
    "('Unnamed: 0_level_0', 'GP')":"GP",
    "('Touchdowns', 'RUSH')":"TD_RUSH",
    "('Touchdowns', 'REC')":"TD_REC",
    "('Touchdowns', 'RET')":"TD_RET",
    "('Touchdowns', 'TD')":"TD",
    "('Scoring', 'FG')":"SCORING_FG",
    "('Scoring', 'PAT')":"SCORING_PAT",
    "('Scoring', '2PT')":"SCORING_2PT",
    "('Scoring', 'PTS')":"SCORING_PTS",
    "('Scoring', 'TP/G')":"SCORING_TP/G"})


returning_df = returning_df.rename(columns={
    "('Unnamed: 0_level_0', 'GP')":"GP",
    "('Kickoffs', 'ATT')":"KO_ATT",
    "('Kickoffs', 'YDS')":"KO_YDS",
    "('Kickoffs', 'AVG')":"KO_AVG",
    "('Kickoffs', 'LNG')":"KO_LNG",
    "('Kickoffs', 'TD')":"KO_TD",
    "('Punts', 'ATT')":"PUNTS_ATT",
    "('Punts', 'YDS')":"PUNTS_YDS",
    "('Punts', 'AVG')":"PUNTS_AVG",
    "('Punts', 'LNG')":"PUNTS_LNG",
    "('Punts', 'TD')":"PUNTS_TD",
    "('Punts', 'FC')":"PUNTS_FC"
})

In [ ]:
#############################################

In [376]:
punting_df = pd.read_csv("stats/punting.csv")
punting_df

,Unnamed: 0,Name,GP,PUNTS,YDS,LNG,AVG,NET,PBLK,IN20,TB,FC,ATT,YDS.1,AVG.1,class,team
0,0,Corey Bojorquez P,16,79,3313,67,41.9,37.7,1,34,7,26,18,157,8.7,Punting,Bills
1,1,Matt Haack P,16,69,3105,62,45.0,41.1,0,23,2,20,29,229,7.9,Punting,Dolphins
2,2,Jake Bailey P,16,81,3638,65,44.9,41.3,0,36,6,18,28,175,6.3,Punting,Patriots
3,3,Lachlan Edwards P,16,87,3991,63,45.9,41.6,0,28,3,13,44,309,7.0,Punting,Jets
4,4,Sam Koch P,16,40,1855,62,46.4,39.8,1,21,4,10,15,143,9.5,Punting,Ravens
5,5,Kevin Huber P,16,75,3394,63,45.3,42.1,0,30,5,30,24,136,5.7,Punting,Bengals
6,6,Jamie Gillan P,16,63,2913,71,46.2,41.6,1,28,5,18,20,151,7.6,Punting,Browns
7,7,Austin Seibert PK,16,1,37,37,37.0,37.0,0,1,0,0,0,0,0.0,Punting,Browns
8,8,Jordan Berry P,16,74,3368,69,45.5,40.9,0,24,4,24,29,265,9.1,Punting,Steelers
9,9,Bryan Anger P,14,45,2094,71,46.5,44.5,0,24,2,16,17,53,3.1,Punting,Texans
10,10,Trevor Daniel P,2,11,479,54,43.5,40.9,0,2,0,3,7,29,4.1,Punting,Texans
11,11,Ka'imi Fairbairn PK,16,1,26,26,26.0,26.0,0,1,0,0,0,0,0.0,Punting,Texans
12,12,Rigoberto Sanchez P,16,59,2619,60,44.4,41.2,0,22,1,15,28,166,5.9,Punting,Colts
13,13,Logan Cooke P,16,75,3507,66,46.8,44.5,0,25,2,26,24,127,5.3,Punting,Jaguars
14,14,Brett Kern P,16,78,3672,70,47.1,43.1,0,37,2,19,30,269,9.0,Punting,Titans
15,15,Colby Wadman P,16,78,3464,64,44.4,39.4,0,29,4,21,32,314,9.8,Punting,Broncos
16,16,Dustin Colquitt P,16,48,2126,68,44.3,40.3,1,21,3,14,19,89,4.7,Punting,Chiefs
17,17,AJ Cole P,16,67,3081,74,46.0,39.4,0,33,6,20,30,318,10.6,Punting,Raiders
18,18,Ty Long P,16,48,2256,60,47.0,40.9,0,17,2,8,33,252,7.6,Punting,Chargers
19,19,Chris Jones P,16,50,2079,58,41.6,37.0,1,18,2,18,18,154,8.6,Punting,Cowboys
20,20,Riley Dixon P,16,69,3178,62,46.1,42.3,2,29,2,17,24,136,5.7,Punting,Giants
21,21,Cameron Johnston P,16,71,3292,61,46.4,42.3,0,28,4,19,32,207,6.5,Punting,Eagles
22,22,Tress Way P,16,79,3919,79,49.6,44.1,0,30,4,19,39,354,9.1,Punting,Redskins
23,23,Pat O'Donnell P,16,80,3586,75,44.8,40.7,1,26,2,26,35,247,7.1,Punting,Bears
24,24,Sam Martin P,16,76,3445,62,45.3,41.8,0,31,7,22,29,130,4.5,Punting,Lions
25,25,JK Scott P,16,77,3386,66,44.0,39.9,0,29,4,25,26,233,9.0,Punting,Packers
26,26,Britton Colquitt P,16,62,2802,59,45.2,42.6,0,24,0,24,23,158,6.9,Punting,Vikings
27,27,Ryan Allen P,8,28,1172,59,41.9,37.5,0,14,3,8,8,62,7.8,Punting,Falcons
28,28,Matt Bosher P,3,9,377,52,41.9,36.7,1,2,0,7,2,10,5.0,Punting,Falcons
29,29,Kasey Redfern P,3,9,371,54,41.2,36.9,0,3,0,3,5,39,7.8,Punting,Falcons
30,30,Matt Wile P,2,6,290,60,48.3,44.7,0,3,0,0,4,22,5.5,Punting,Falcons
31,31,Michael Palardy P,16,75,3452,62,46.0,38.7,0,25,3,16,40,487,12.2,Punting,Panthers
32,32,Thomas Morstead P,16,60,2770,64,46.2,43.1,0,29,1,21,24,166,6.9,Punting,Saints
33,33,Bradley Pinion P,16,57,2464,63,43.2,38.3,0,19,3,18,25,222,8.9,Punting,Buccaneers
34,34,Andy Lee P,15,61,2913,64,47.8,41.2,1,21,4,15,31,278,9.0,Punting,Cardinals
35,35,Ryan Winslow P,2,6,291,55,48.5,44.2,0,2,1,0,4,6,1.5,Punting,Cardinals
36,36,Zane Gonzalez PK,16,2,84,44,42.0,42.0,0,0,0,1,0,0,0.0,Punting,Cardinals
37,37,Johnny Hekker P,16,66,3128,71,47.4,42.4,1,22,5,14,23,190,8.3,Punting,Rams
38,38,Mitch Wishnowsky P,16,52,2333,65,44.9,41.6,0,23,2,13,23,131,5.7,Punting,49ers
39,39,Michael Dickson P,16,74,3341,63,45.1,40.9,0,34,5,18,34,213,6.3,Punting,Seahawks

In [381]:
#punting_df.read_csv("temp/punting_df.csv")
punting_df=punting_df.rename(columns={
    "YDS":"PUNT_YDS",
    "AVG":"PUNT_AVG",
    "YDS.1":"RETURN_YDS",
    "AVG.1":"RETURN_AVG"
})
punting_df.head()

Empty DataFrame
Columns: [Name, GP, PUNTS, PUNT_YDS, LNG, PUNT_AVG, NET, PBLK, IN20, TB, FC, ATT, RETURN_YDS, RETURN_AVG, PlayerID, FullName]
Index: []

In [396]:
id_df

               PlayerID          FullName
0       Mario Addison97     Mario Addison
1       Bryan Cox Jr.94     Bryan Cox Jr.
2          AJ Epenesa57        AJ Epenesa
3        Jerry Hughes55      Jerry Hughes
4      Darryl Johnson92    Darryl Johnson
...                 ...               ...
2835  Mitch Wishnowsky6  Mitch Wishnowsky
2836      Kyle Nelson86       Kyle Nelson
2837       Jason Myers5       Jason Myers
2838   Michael Dickson4   Michael Dickson
2839        Tyler Ott69         Tyler Ott

[2840 rows x 2 columns]

In [407]:
punting_df=pd.read_csv("stats/punting.csv")

punting_df=punting_df.rename(columns={
    "YDS":"PUNT_YDS",
    "AVG":"PUNT_AVG",
    "YDS.1":"RETURN_YDS",
    "AVG.1":"RETURN_AVG"
})
punting_df = punting_df.drop(columns=['Unnamed: 0','class','team'])

for i in range(0,len(punting_df.Name)):
    punting_df.Name[i]=punting_df.Name[i].replace(punting_df.Name[i].split(" ").pop(-1),"").strip()

punting_df = punting_df.merge(id_df, left_on='Name',right_on="FullName", how = 'inner')

punting_df = punting_df.drop(columns=["Name","FullName"])

punting_df.to_csv("temp/punting_df.csv")
punting_df

C:\Users\chand\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

,GP,PUNTS,PUNT_YDS,LNG,PUNT_AVG,NET,PBLK,IN20,TB,FC,ATT,RETURN_YDS,RETURN_AVG,PlayerID
0,16,79,3313,67,41.9,37.7,1,34,7,26,18,157,8.7,Corey Bojorquez9
1,16,69,3105,62,45.0,41.1,0,23,2,20,29,229,7.9,Matt Haack2
2,16,81,3638,65,44.9,41.3,0,36,6,18,28,175,6.3,Jake Bailey7
3,16,40,1855,62,46.4,39.8,1,21,4,10,15,143,9.5,Sam Koch4
4,16,75,3394,63,45.3,42.1,0,30,5,30,24,136,5.7,Kevin Huber10
5,16,63,2913,71,46.2,41.6,1,28,5,18,20,151,7.6,Jamie Gillan7
6,16,1,37,37,37.0,37.0,0,1,0,0,0,0,0.0,Austin Seibert4
7,16,74,3368,69,45.5,40.9,0,24,4,24,29,265,9.1,Jordan Berry4
8,14,45,2094,71,46.5,44.5,0,24,2,16,17,53,3.1,Bryan Anger9
9,16,1,26,26,26.0,26.0,0,1,0,0,0,0,0.0,Ka'imi Fairbairn7
10,16,59,2619,60,44.4,41.2,0,22,1,15,28,166,5.9,Rigoberto Sanchez8
11,16,75,3507,66,46.8,44.5,0,25,2,26,24,127,5.3,Logan Cooke9
12,16,78,3672,70,47.1,43.1,0,37,2,19,30,269,9.0,Brett Kern6
13,16,67,3081,74,46.0,39.4,0,33,6,20,30,318,10.6,AJ Cole6
14,16,48,2256,60,47.0,40.9,0,17,2,8,33,252,7.6,Ty Long1
15,16,50,2079,58,41.6,37.0,1,18,2,18,18,154,8.6,Chris Jones95
16,16,50,2079,58,41.6,37.0,1,18,2,18,18,154,8.6,Chris Jones25
17,16,50,2079,58,41.6,37.0,1,18,2,18,18,154,8.6,Chris Jones6
18,16,69,3178,62,46.1,42.3,2,29,2,17,24,136,5.7,Riley Dixon9
19,16,71,3292,61,46.4,42.3,0,28,4,19,32,207,6.5,Cameron Johnston1
20,16,79,3919,79,49.6,44.1,0,30,4,19,39,354,9.1,Tress Way5
21,16,76,3445,62,45.3,41.8,0,31,7,22,29,130,4.5,Sam Martin5
22,16,77,3386,66,44.0,39.9,0,29,4,25,26,233,9.0,JK Scott6
23,16,62,2802,59,45.2,42.6,0,24,0,24,23,158,6.9,Britton Colquitt2
24,8,28,1172,59,41.9,37.5,0,14,3,8,8,62,7.8,Ryan Allen9
25,16,60,2770,64,46.2,43.1,0,29,1,21,24,166,6.9,Thomas Morstead6
26,15,61,2913,64,47.8,41.2,1,21,4,15,31,278,9.0,Andy Lee4
27,2,6,291,55,48.5,44.2,0,2,1,0,4,6,1.5,Ryan Winslow9
28,16,2,84,44,42.0,42.0,0,0,0,1,0,0,0.0,Zane Gonzalez5
29,16,66,3128,71,47.4,42.4,1,22,5,14,23,190,8.3,Johnny Hekker6
30,16,52,2333,65,44.9,41.6,0,23,2,13,23,131,5.7,Mitch Wishnowsky6
31,16,74,3341,63,45.1,40.9,0,34,5,18,34,213,6.3,Michael Dickson4

In [404]:
punting_df=pd.read_csv("stats/punting.csv")

punting_df=punting_df.rename(columns={
    "YDS":"PUNT_YDS",
    "AVG":"PUNT_AVG",
    "YDS.1":"RETURN_YDS",
    "AVG.1":"RETURN_AVG"
})
for i in range(0,len(punting_df.Name)):
    print(punting_df.Name[i].replace(scoring_df.Name[i].split(" ").pop(-1),"").strip())

Corey Bojorquez P
Matt Haack P
Jake Bailey P
Lachlan Edwards P
Sam Koch P
Kevin Huber P
Jamie Gillan P
Austin Seibert PK
Jordan Berry P
Bryan Anger P
Trevor Daniel P
Ka'imi Fairbairn PK
Rigoberto anchez P
Logan Cooke P
Brett Kern P
Colby Wadman P
Dustin Colquitt P
AJ Cole P
Ty Long P
Chris Jones P
Riley Dixon P
Cameron Johnston P
Tress Way P
Pat O'Donnell P
Sam Martin P
JK Scott P
Britton Colquitt P
Ryan Allen P
Matt Bosher P
Kasey Redfern P
Matt Wile P
Michael Palardy P
Thomas Morstead P
Bradley Pinion P
Andy Lee P
Ryan Winslow P
Zane Gonzalez PK
Johnny Hekker P
Mitch Wishnowsky P
Michael Dickson P

In [269]:
scoring_df = scoring_df.drop(columns=['Unnamed: 0','class','team'])

for i in range(0,len(scoring_df.Name)):
    scoring_df.Name[i]=scoring_df.Name[i].replace(scoring_df.Name[i].split(" ").pop(-1),"").strip()

scoring_df = scoring_df.merge(id_df, left_on='Name',right_on="FullName", how = 'inner')

scoring_df = scoring_df.drop(columns=["Name","FullName"])


returning_df = returning_df.drop(columns=['Unnamed: 0','class','team'])

for i in range(0,len(returning_df.Name)):
    returning_df.Name[i]=returning_df.Name[i].replace(returning_df.Name[i].split(" ").pop(-1),"").strip()

returning_df = returning_df.merge(id_df, left_on='Name',right_on="FullName", how = 'inner')

returning_df = returning_df.drop(columns=["Name","FullName"])

C:\Users\chand\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\chand\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [272]:
scoring_df.to_csv("temp/scoring_df.csv")
returning_df.to_csv("temp/returning_df.csv")

In [307]:
db_df = pd.read_csv("fantasy/db.csv")
dl_df = pd.read_csv("fantasy/dl.csv")
dst_df = pd.read_csv("fantasy/dst.csv")
lb_df = pd.read_csv("fantasy/lb.csv")
qb_df = pd.read_csv("fantasy/qb.csv")
rb_df = pd.read_csv("fantasy/rb.csv")
te_df = pd.read_csv("fantasy/te.csv")
wr_df = pd.read_csv("fantasy/wr.csv")

In [308]:
rb_df = rb_df.rename(columns = {
    "ATT":"RUSH_ATT",
    "YDS":"RUSH_YDS",
    "Y/A":"RUSH_Y/A",
    "LG":"RUSH_LG",
    "20+":"RUSH_20+",
    "TD":"RUSH_TD",
    "REC":"REC",
    "TGT":"REC_TGT",
    "YDS.1":"REC_YDS",
    "Y/R":"REC_Y/R",
    "TD.1":"REC_TD",
    "FL":"FL",
    "G":"G",
    "FPTS":"FPTS",
    "FPTS/G":"FPTS/G"
})
wr_df = wr_df.rename(columns = {
    "REC":"REC",
    "TGT":"REC_TGT",
    "YDS":"REC_YDS",
    "Y/R":"REC_Y/R",
    "LG":"REC_LG",
    "20+":"REC_20+",
    "TD":"REC_TD",
    "ATT":"RUSH_ATT",
    "YDS.1":"RUSH_YDS",
    "TD.1":"RUSH_TD",
    "FL":"FL",
    "G":"G",
    "FPTS":"FPTS",
    "FPTS/G":"FPTS/G"
})
qb_df = qb_df.rename(columns = {
    "CMP":"PASS_CMP",
    "ATT":"PASS_ATT",
    "PCT":"PASS_PCT",
    "YDS":"PASS_YDS",
    "Y/A":"PASS_Y/A",
    "TD":"PASS_TD",
    "INT":"PASS_INT",
    "SACKS":"PASS_SACKS",
    "ATT.1":"RUSH_ATT",
    "YDS.1":"RUSH_YDS",
    "TD.1":"RUSH_TD",
    "FL":"FL",
    "G":"G",
    "FPTS":"FPTS",
    "FPTS/G":"FPTS/G"
})

te_df=te_df.rename(columns = {
    "REC":"REC",
    "TGT":"REC_TGT",
    "YDS":"REC_YDS",
    "Y/R":"REC_Y/R",
    "LG":"REC_LG",
    "20+":"REC_20+",
    "TD":"REC_TD",
    "ATT":"RUSH_ATT",
    "YDS.1":"RUSH_YDS",
    "TD.1":"RUSH_TD"
})

In [309]:

for i in range(0,len(wr_df.Player)):
    wr_df.Player[i]=wr_df.Player[i].replace(wr_df.Player[i].split(" ").pop(-1),"").strip()

wr_df = wr_df.merge(id_df, left_on='Player',right_on="FullName", how = 'inner')

wr_df = wr_df.drop(columns=["Player","FullName","Unnamed: 0"])



for i in range(0,len(rb_df.Player)):
    rb_df.Player[i]=rb_df.Player[i].replace(rb_df.Player[i].split(" ").pop(-1),"").strip()

rb_df = rb_df.merge(id_df, left_on='Player',right_on="FullName", how = 'inner')

rb_df = rb_df.drop(columns=["Player","FullName","Unnamed: 0"])



for i in range(0,len(qb_df.Player)):
    qb_df.Player[i]=qb_df.Player[i].replace(qb_df.Player[i].split(" ").pop(-1),"").strip()

qb_df = qb_df.merge(id_df, left_on='Player',right_on="FullName", how = 'inner')

qb_df = qb_df.drop(columns=["Player","FullName","Unnamed: 0"])



for i in range(0,len(lb_df.Player)):
    lb_df.Player[i]=lb_df.Player[i].replace(lb_df.Player[i].split(" ").pop(-1),"").strip()

lb_df = lb_df.merge(id_df, left_on='Player',right_on="FullName", how = 'inner')

lb_df = lb_df.drop(columns=["Player","FullName","Unnamed: 0"])




for i in range(0,len(dl_df.Player)):
    dl_df.Player[i]=dl_df.Player[i].replace(dl_df.Player[i].split(" ").pop(-1),"").strip()

dl_df = dl_df.merge(id_df, left_on='Player',right_on="FullName", how = 'inner')

dl_df = dl_df.drop(columns=["Player","FullName","Unnamed: 0"])


for i in range(0,len(db_df.Player)):
    db_df.Player[i]=db_df.Player[i].replace(db_df.Player[i].split(" ").pop(-1),"").strip()

db_df = db_df.merge(id_df, left_on='Player',right_on="FullName", how = 'inner')

db_df = db_df.drop(columns=["Player","FullName","Unnamed: 0"])




for i in range(0,len(te_df.Player)):
    te_df.Player[i]=te_df.Player[i].replace(te_df.Player[i].split(" ").pop(-1),"").strip()

te_df = te_df.merge(id_df, left_on='Player',right_on="FullName", how = 'inner')

te_df = te_df.drop(columns=["Player","FullName","Unnamed: 0"])

C:\Users\chand\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\chand\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\chand\Anaconda3\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\chand\Anaconda3\lib\site-packages\ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\chand\Anaconda3\lib\site-packages\ipykernel_launcher.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\chand\Anaconda3\lib\site-packages\ipykernel_launcher.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\chand\Anaconda3\lib\site-packages\ipykernel_launcher.py:64: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [327]:
qb_df =qb_df.rename(columns={"Unnamed: 19":"Year"})
rb_df = rb_df.rename(columns={"Unnamed: 19":"Year"})
te_df =te_df.rename(columns={"Unnamed: 18":"Year"})
wr_df =wr_df.rename(columns={"Unnamed: 18":"Year"})
             
db_df.to_csv("temp/db_df.csv")
dl_df.to_csv("temp/dl_df.csv")
#dst_df.to_csv("temp/dst_df.csv")
lb_df.to_csv("temp/lb_df.csv")
qb_df.to_csv("temp/qb_df.csv")
rb_df.to_csv("temp/rb_df.csv")
te_df.to_csv("temp/te_df.csv")
wr_df.to_csv("temp/wr_df.csv")

In [344]:
dst_df = pd.read_csv("fantasy/dst.csv")
for i in range(0,len(dst_df.Player)):
    dst_df.Player[i]=dst_df.Player[i].split("(")[1].split(")")[0]

dst_df = dst_df.merge(team_df, left_on='Player',right_on="TM", how = 'inner')

dst_df = dst_df.drop(columns=["Unnamed: 0","Team","Player"])

dst_df = dst_df.rename(columns={"TM":"TeamID"})
dst_df.to_csv("temp/dst_df.csv")

C:\Users\chand\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [14]:
owners_df = pd.read_csv("temp/owners_df.csv")
salary_df = pd.read_csv("temp/salary_df.csv")
stadium_df = pd.read_csv("temp/stadium_df.csv")
team_df = pd.read_csv("temp/team_df.csv")
team_table = pd.read_csv("temp/team_table.csv")
team_statistics = pd.read_csv("temp/team_statistics.csv")

In [65]:
team_df

     TM                  Team
0   ARI     Arizona Cardinals
1   ATL       Atlanta Falcons
2   BAL      Baltimore Ravens
3   BUF         Buffalo Bills
4   CAR     Carolina Panthers
5   CHI         Chicago Bears
6   CIN    Cincinnati Bengals
7   CLE      Cleveland Browns
8   DAL        Dallas Cowboys
9   DEN        Denver Broncos
10  DET         Detroit Lions
11   GB     Green Bay Packers
12  HOU        Houston Texans
13  IND    Indianapolis Colts
14  JAX  Jacksonville Jaguars
15   KC    Kansas City Chiefs
16  LAC  Los Angeles Chargers
17  LAR      Los Angeles Rams
18   LV     Las Vegas Raiders
19  MIA        Miami Dolphins
20  MIN     Minnesota Vikings
21   NE  New England Patriots
22   NO    New Orleans Saints
23  NYG       New York Giants
24  NYJ         New York Jets
25  PHI   Philadelphia Eagles
26  PIT   Pittsburgh Steelers
27  SEA      Seattle Seahawks
28   SF   San Francisco 49ers
29   TB  Tampa Bay Buccaneers
30  TEN      Tennessee Titans
31  WAS   Washington Redskins

In [68]:
team_df.head()

    TM               Team
0  ARI  Arizona Cardinals
1  ATL    Atlanta Falcons
2  BAL   Baltimore Ravens
3  BUF      Buffalo Bills
4  CAR  Carolina Panthers

In [79]:
players_df.to_csv("temp/players_df.csv")

In [75]:
team_abv_list = []
for i in range(0,len(players_df.team)):
    x = True
    for j in range(0,len(team_df.Team)):
        
        if players_df.team[i] in team_df.Team[j] and x == True:
                   
            team_abv_list.append(team_df.TM[j])
            x=False
                   
            
            
team_abv_list

['BUF',
 'BUF',
 'BUF',
 'BUF',
 'BUF',
 'BUF',
 'BUF',
 'BUF',
 'BUF',
 'BUF',
 'BUF',
 'BUF',
 'BUF',
 'BUF',
 'BUF',
 'BUF',
 'BUF',
 'BUF',
 'BUF',
 'BUF',
 'BUF',
 'BUF',
 'BUF',
 'BUF',
 'BUF',
 'BUF',
 'BUF',
 'BUF',
 'BUF',
 'BUF',
 'BUF',
 'BUF',
 'BUF',
 'BUF',
 'BUF',
 'BUF',
 'BUF',
 'BUF',
 'MIA',
 'MIA',
 'MIA',
 'MIA',
 'MIA',
 'MIA',
 'MIA',
 'MIA',
 'MIA',
 'MIA',
 'MIA',
 'MIA',
 'MIA',
 'MIA',
 'MIA',
 'MIA',
 'MIA',
 'MIA',
 'MIA',
 'MIA',
 'MIA',
 'MIA',
 'MIA',
 'MIA',
 'MIA',
 'MIA',
 'MIA',
 'MIA',
 'MIA',
 'MIA',
 'MIA',
 'MIA',
 'MIA',
 'MIA',
 'MIA',
 'MIA',
 'MIA',
 'MIA',
 'MIA',
 'MIA',
 'MIA',
 'MIA',
 'MIA',
 'MIA',
 'NE',
 'NE',
 'NE',
 'NE',
 'NE',
 'NE',
 'NE',
 'NE',
 'NE',
 'NE',
 'NE',
 'NE',
 'NE',
 'NE',
 'NE',
 'NE',
 'NE',
 'NE',
 'NE',
 'NE',
 'NE',
 'NE',
 'NE',
 'NE',
 'NE',
 'NE',
 'NE',
 'NE',
 'NE',
 'NE',
 'NE',
 'NE',
 'NE',
 'NE',
 'NE',
 'NE',
 'NE',
 'NYJ',
 'NYJ',
 'NYJ',
 'NYJ',
 'NYJ',
 'NYJ',
 'NYJ',
 'NYJ',
 'NYJ',
 'NYJ',
 'NYJ',
 'NYJ',
 'NYJ',
 'NYJ',
 'NYJ',
 'NYJ',
 'NYJ',
 'NYJ',
 'NYJ',
 'NYJ',
 'NYJ',
 'NYJ',
 'NYJ',
 'NYJ',
 'NYJ',
 'NYJ',
 'NYJ',
 'NYJ',
 'NYJ',
 'NYJ',
 'NYJ',
 'NYJ',
 'NYJ',
 'NYJ',
 'NYJ',
 'NYJ',
 'NYJ',
 'NYJ',
 'NYJ',
 'NYJ',
 'NYJ',
 'NYJ',
 'NYJ',
 'NYJ',
 'BAL',
 'BAL',
 'BAL',
 'BAL',
 'BAL',
 'BAL',
 'BAL',
 'BAL',
 'BAL',
 'BAL',
 'BAL',
 'BAL',
 'BAL',
 'BAL',
 'BAL',
 'BAL',
 'BAL',
 'BAL',
 'BAL',
 'BAL',
 'BAL',
 'BAL',
 'BAL',
 'BAL',
 'BAL',
 'BAL',
 'BAL',
 'BAL',
 'BAL',
 'BAL',
 'BAL',
 'BAL',
 'BAL',
 'BAL',
 'BAL',
 'BAL',
 'BAL',
 'BAL',
 'BAL',
 'BAL',
 'BAL',
 'CIN',
 'CIN',
 'CIN',
 'CIN',
 'CIN',
 'CIN',
 'CIN',
 'CIN',
 'CIN',
 'CIN',
 'CIN',
 'CIN',
 'CIN',
 'CIN',
 'CIN',
 'CIN',
 'CIN',
 'CIN',
 'CIN',
 'CIN',
 'CIN',
 'CIN',
 'CIN',
 'CIN',
 'CIN',
 'CIN',
 'CIN',
 'CIN',
 'CIN',
 'CIN',
 'CIN',
 'CIN',
 'CIN',
 'CIN',
 'CIN',
 'CIN',
 'CIN',
 'CIN',
 'CLE',
 'CLE',
 'CLE',
 'CLE',
 'CLE',
 'CLE',
 'CLE',
 'CLE',
 'CLE',
 'CLE',
 'CLE',
 'CLE',
 'CLE',
 'CLE',
 'CLE',
 'CLE',
 'CLE',
 'CLE',
 'CLE',
 'CLE',
 'CLE',
 'CLE',
 'CLE',
 'CLE',
 'CLE',
 'CLE',
 'CLE',
 'CLE',
 'CLE',
 'CLE',
 'CLE',
 'CLE',
 'CLE',
 'CLE',
 'CLE',
 'CLE',
 'CLE',
 'CLE',
 'CLE',
 'CLE',
 'CLE',
 'CLE',
 'CLE',
 'PIT',
 'PIT',
 'PIT',
 'PIT',
 'PIT',
 'PIT',
 'PIT',
 'PIT',
 'PIT',
 'PIT',
 'PIT',
 'PIT',
 'PIT',
 'PIT',
 'PIT',
 'PIT',
 'PIT',
 'PIT',
 'PIT',
 'PIT',
 'PIT',
 'PIT',
 'PIT',
 'PIT',
 'PIT',
 'PIT',
 'PIT',
 'PIT',
 'PIT',
 'PIT',
 'PIT',
 'PIT',
 'PIT',
 'PIT',
 'PIT',
 'PIT',
 'PIT',
 'PIT',
 'PIT',
 'PIT',
 'PIT',
 'PIT',
 'PIT',
 'HOU',
 'HOU',
 'HOU',
 'HOU',
 'HOU',
 'HOU',
 'HOU',
 'HOU',
 'HOU',
 'HOU',
 'HOU',
 'HOU',
 'HOU',
 'HOU',
 'HOU',
 'HOU',
 'HOU',
 'HOU',
 'HOU',
 'HOU',
 'HOU',
 'HOU',
 'HOU',
 'HOU',
 'HOU',
 'HOU',
 'HOU',
 'HOU',
 'HOU',
 'HOU',
 'HOU',
 'HOU',
 'HOU',
 'HOU',
 'HOU',
 'HOU',
 'HOU',
 'HOU',
 'HOU',
 'HOU',
 'HOU',
 'IND',
 'IND',
 'IND',
 'IND',
 'IND',
 'IND',
 'IND',
 'IND',
 'IND',
 'IND',
 'IND',
 'IND',
 'IND',
 'IND',
 'IND',
 'IND',
 'IND',
 'IND',
 'IND',
 'IND',
 'IND',
 'IND',
 'IND',
 'IND',
 'IND',
 'IND',
 'IND',
 'IND',
 'IND',
 'IND',
 'IND',
 'IND',
 'IND',
 'IND',
 'IND',
 'IND',
 'IND',
 'IND',
 'IND',
 'IND',
 'JAX',
 'JAX',
 'JAX',
 'JAX',
 'JAX',
 'JAX',
 'JAX',
 'JAX',
 'JAX',
 'JAX',
 'JAX',
 'JAX',
 'JAX',
 'JAX',
 'JAX',
 'JAX',
 'JAX',
 'JAX',
 'JAX',
 'JAX',
 'JAX',
 'JAX',
 'JAX',
 'JAX',
 'JAX',
 'JAX',
 'JAX',
 'JAX',
 'JAX',
 'JAX',
 'JAX',
 'JAX',
 'JAX',
 'JAX',
 'JAX',
 'JAX',
 'JAX',
 'JAX',
 'JAX',
 'JAX',
 'JAX',
 'JAX',
 'TEN',
 'TEN',
 'TEN',
 'TEN',
 'TEN',
 'TEN',
 'TEN',
 'TEN',
 'TEN',
 'TEN',
 'TEN',
 'TEN',
 'TEN',
 'TEN',
 'TEN',
 'TEN',
 'TEN',
 'TEN',
 'TEN',
 'TEN',
 'TEN',
 'TEN',
 'TEN',
 'TEN',
 'TEN',
 'TEN',
 'TEN',
 'TEN',
 'TEN',
 'TEN',
 'TEN',
 'TEN',
 'TEN',
 'TEN',
 'TEN',
 'TEN',
 'TEN',
 'TEN',
 'TEN',
 'DEN',
 'DEN',
 'DEN',
 'DEN',
 'DEN',
 'DEN',
 'DEN',
 'DEN',
 'DEN',
 'DEN',
 'DEN',
 'DEN',
 'DEN',
 'DEN',
 'DEN',
 'DEN',
 'DEN',
 'DEN',
 'DEN',
 'DEN',
 'DEN',
 'DEN',
 'DEN',
 'DEN',
 'DEN',
 'DEN',
 'DEN',
 'DEN',
 'DEN',
 'DEN',
 'DEN',
 'DEN',
 'DEN',
 'DEN',
 'DEN',
 'DEN',
 'DEN',
 'DEN',
 'DEN',
 'DEN',
 'KC',
 'KC',
 'KC',
 'KC',
 'KC',
 'KC',
 'KC',
 'KC',
 'KC',
 'KC',
 'KC',
 'KC',
 'KC',
 'KC',
 'KC',
 'KC',
 'KC',
 'KC',
 'KC',
 'KC',
 'KC',
 'KC',
 'KC',
 'KC',
 'KC',
 'KC',
 'KC',
 'KC',
 'KC',
 'KC',
 'KC',
 'KC',
 'KC',
 'KC',
 'KC',
 'KC',
 'KC',
 'KC',
 'KC',
 'KC',
 'KC',
 'LV',
 'LV',
 'LV',
 'LV',
 'LV',
 'LV',
 'LV',
 'LV',
 'LV',
 'LV',
 'LV',
 'LV',
 'LV',
 'LV',
 'LV',
 'LV',
 'LV',
 'LV',
 'LV',
 'LV',
 'LV',
 'LV',
 'LV',
 'LV',
 'LV',
 'LV',
 'LV',
 'LV',
 'LV',
 'LV',
 'LV',
 'LV',
 'LV',
 'LV',
 'LV',
 'LV',
 'LV',
 'LV',
 'LV',
 'LV',
 'LV',
 'LV',
 'LV',
 'LV',
 'LAC',
 'LAC',
 'LAC',
 'LAC',
 'LAC',
 'LAC',
 'LAC',
 'LAC',
 'LAC',
 'LAC',
 'LAC',
 'LAC',
 'LAC',
 'LAC',
 'LAC',
 'LAC',
 'LAC',
 'LAC',
 'LAC',
 'LAC',
 'LAC',
 'LAC',
 'LAC',
 'LAC',
 'LAC',
 'LAC',
 'LAC',
 'LAC',
 'LAC',
 'LAC',
 'LAC',
 'LAC',
 'LAC',
 'LAC',
 'LAC',
 'LAC',
 'LAC',
 'LAC',
 'DAL',
 'DAL',
 'DAL',
 'DAL',
 'DAL',
 'DAL',
 'DAL',
 'DAL',
 'DAL',
 'DAL',
 'DAL',
 'DAL',
 'DAL',
 'DAL',
 'DAL',
 'DAL',
 'DAL',
 'DAL',
 'DAL',
 'DAL',
 'DAL',
 'DAL',
 'DAL',
 'DAL',
 'DAL',
 'DAL',
 'DAL',
 'DAL',
 'DAL',
 'DAL',
 'DAL',
 'DAL',
 'DAL',
 'DAL',
 'DAL',
 'DAL',
 'DAL',
 'DAL',
 'DAL',
 'NYG',
 'NYG',
 'NYG',
 'NYG',
 'NYG',
 'NYG',
 'NYG',
 'NYG',
 'NYG',
 'NYG',
 'NYG',
 'NYG',
 'NYG',
 'NYG',
 'NYG',
 'NYG',
 'NYG',
 'NYG',
 'NYG',
 'NYG',
 'NYG',
 'NYG',
 'NYG',
 'NYG',
 'NYG',
 'NYG',
 'NYG',
 'NYG',
 'NYG',
 'NYG',
 'NYG',
 'NYG',
 'NYG',
 'NYG',
 'NYG',
 'NYG',
 'NYG',
 'NYG',
 'NYG',
 'NYG',
 'NYG',
 'NYG',
 'NYG',
 'PHI',
 'PHI',
 'PHI',
 'PHI',
 'PHI',
 'PHI',
 'PHI',
 'PHI',
 'PHI',
 'PHI',
 'PHI',
 'PHI',
 'PHI',
 'PHI',
 'PHI',
 'PHI',
 'PHI',
 'PHI',
 'PHI',
 'PHI',
 'PHI',
 'PHI',
 'PHI',
 'PHI',
 'PHI',
 'PHI',
 'PHI',
 'PHI',
 'PHI',
 'PHI',
 'PHI',
 'PHI',
 'PHI',
 'PHI',
 'PHI',
 'PHI',
 'PHI',
 'PHI',
 'PHI',
 'PHI',
 'PHI',
 'PHI',
 'PHI',
 'WAS',
 'WAS',
 'WAS',
 'WAS',
 'WAS',
 'WAS',
 'WAS',
 'WAS',
 'WAS',
 'WAS',
 'WAS',
 'WAS',
 'WAS',
 'WAS',
 'WAS',
 'WAS',
 'WAS',
 'WAS',
 'WAS',
 'WAS',
 'WAS',
 'WAS',
 'WAS',
 'WAS',
 'WAS',
 'WAS',
 'WAS',
 'WAS',
 'WAS',
 'WAS',
 'WAS',
 'WAS',
 'WAS',
 'WAS',
 'WAS',
 'WAS',
 'CHI',
 'CHI',
 'CHI',
 'CHI',
 'CHI',
 'CHI',
 'CHI',
 'CHI',
 'CHI',
 'CHI',
 'CHI',
 'CHI',
 'CHI',
 'CHI',
 'CHI',
 'CHI',
 'CHI',
 'CHI',
 'CHI',
 'CHI',
 'CHI',
 'CHI',
 'CHI',
 'CHI',
 'CHI',
 'CHI',
 'CHI',
 'CHI',
 'CHI',
 'CHI',
 'CHI',
 'CHI',
 'CHI',
 'CHI',
 'CHI',
 'CHI',
 'CHI',
 'CHI',
 'CHI',
 'CHI',
 'CHI',
 'CHI',
 'DET',
 'DET',
 'DET',
 'DET',
 'DET',
 'DET',
 'DET',
 'DET',
 'DET',
 'DET',
 'DET',
 'DET',
 'DET',
 'DET',
 'DET',
 'DET',
 'DET',
 'DET',
 'DET',
 'DET',
 'DET',
 'DET',
 'DET',
 'DET',
 'DET',
 'DET',
 'DET',
 'DET',
 'DET',
 'DET',
 'DET',
 'DET',
 'DET',
 'DET',
 'DET',
 'DET',
 'DET',
 'DET',
 'DET',
 'DET',
 'DET',
 'DET',
 'DET',
 'GB',
 'GB',
 'GB',
 'GB',
 'GB',
 'GB',
 'GB',
 'GB',
 'GB',
 'GB',
 'GB',
 'GB',
 'GB',
 'GB',
 'GB',
 'GB',
 'GB',
 'GB',
 'GB',
 'GB',
 'GB',
 'GB',
 'GB',
 'GB',
 'GB',
 'GB',
 'GB',
 'GB',
 'GB',
 'GB',
 'GB',
 'GB',
 'GB',
 'GB',
 'GB',
 'GB',
 'GB',
 'GB',
 'GB',
 'GB',
 'GB',
 'MIN',
 'MIN',
 'MIN',
 'MIN',
 'MIN',
 'MIN',
 'MIN',
 'MIN',
 'MIN',
 'MIN',
 'MIN',
 'MIN',
 'MIN',
 'MIN',
 'MIN',
 'MIN',
 'MIN',
 'MIN',
 'MIN',
 'MIN',
 'MIN',
 'MIN',
 'MIN',
 'MIN',
 'MIN',
 'MIN',
 'MIN',
 'MIN',
 'MIN',
 'MIN',
 'MIN',
 'MIN',
 'MIN',
 'MIN',
 'MIN',
 'MIN',
 'MIN',
 'MIN',
 'MIN',
 'MIN',
 'ATL',
 'ATL',
 'ATL',
 'ATL',
 'ATL',
 'ATL',
 'ATL',
 'ATL',
 'ATL',
 'ATL',
 'ATL',
 'ATL',
 'ATL',
 'ATL',
 'ATL',
 'ATL',
 'ATL',
 'ATL',
 'ATL',
 'ATL',
 ...]

In [15]:
team_statistics = team_statistics.merge(team_df, left_on='team', right_on='Team', how='left')

team_statistics

,Unnamed: 0_x,team,year,points_scored_gm,rush_yds_gm,pass_yds_gm,total_yds_gm,points_allowed_gm,rush_yds_allowed_gm,pass_yds_allowed_gm,yds_allowed_gm,Unnamed: 0_y,TM,Team
0,0,Dallas Cowboys,2019,27.1,134.6,296.9,431.5,20.1,103.5,223.5,327.0,8.0,DAL,Dallas Cowboys
1,1,Baltimore Ravens,2019,33.2,206.0,201.6,407.6,17.6,93.4,207.2,300.6,2.0,BAL,Baltimore Ravens
2,2,Tampa Bay Buccaneers,2019,28.6,95.1,302.8,397.9,28.1,73.8,270.1,343.9,29.0,TB,Tampa Bay Buccaneers
3,3,San Francisco 49ers,2019,29.9,144.1,237.0,381.1,19.4,112.6,169.2,281.8,28.0,SF,San Francisco 49ers
4,4,Atlanta Falcons,2019,23.8,85.1,294.6,379.7,24.9,110.9,244.9,355.8,1.0,ATL,Atlanta Falcons
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
633,26,Detroit Lions,2000,19.2,109.2,167.2,276.4,19.2,113.9,200.6,314.6,10.0,DET,Detroit Lions
634,27,San Diego Chargers,2000,16.8,66.4,202.4,268.8,27.5,88.9,221.1,309.9,NaN,NaN,NaN
635,28,Cincinnati Bengals,2000,11.6,144.6,121.6,266.2,22.4,120.3,222.6,342.9,6.0,CIN,Cincinnati Bengals
636,29,Atlanta Falcons,2000,15.8,75.9,173.8,249.6,25.8,123.9,226.5,350.4,1.0,ATL,Atlanta Falcons
637,30,Cleveland Browns,2000,10.1,67.8,152.8,220.6,26.2,156.6,196.1,352.7,7.0,CLE,Cleveland Browns

In [18]:
team_statistics = team_statistics.drop(columns=['team','Team','Unnamed: 0_x','Unnamed: 0_y'])
team_statistics.rename(columns={'TM':'TeamID'})

,year,points_scored_gm,rush_yds_gm,pass_yds_gm,total_yds_gm,points_allowed_gm,rush_yds_allowed_gm,pass_yds_allowed_gm,yds_allowed_gm,TeamID
0,2019,27.1,134.6,296.9,431.5,20.1,103.5,223.5,327.0,DAL
1,2019,33.2,206.0,201.6,407.6,17.6,93.4,207.2,300.6,BAL
2,2019,28.6,95.1,302.8,397.9,28.1,73.8,270.1,343.9,TB
3,2019,29.9,144.1,237.0,381.1,19.4,112.6,169.2,281.8,SF
4,2019,23.8,85.1,294.6,379.7,24.9,110.9,244.9,355.8,ATL
...,...,...,...,...,...,...,...,...,...,...
633,2000,19.2,109.2,167.2,276.4,19.2,113.9,200.6,314.6,DET
634,2000,16.8,66.4,202.4,268.8,27.5,88.9,221.1,309.9,NaN
635,2000,11.6,144.6,121.6,266.2,22.4,120.3,222.6,342.9,CIN
636,2000,15.8,75.9,173.8,249.6,25.8,123.9,226.5,350.4,ATL
637,2000,10.1,67.8,152.8,220.6,26.2,156.6,196.1,352.7,CLE

In [22]:
team_statistics = team_statistics.rename(columns={'TM':'TeamID'})

team_statistics.to_csv('temp/team_statistics.csv')

In [23]:
team_statistics

,year,points_scored_gm,rush_yds_gm,pass_yds_gm,total_yds_gm,points_allowed_gm,rush_yds_allowed_gm,pass_yds_allowed_gm,yds_allowed_gm,TeamID
0,2019,27.1,134.6,296.9,431.5,20.1,103.5,223.5,327.0,DAL
1,2019,33.2,206.0,201.6,407.6,17.6,93.4,207.2,300.6,BAL
2,2019,28.6,95.1,302.8,397.9,28.1,73.8,270.1,343.9,TB
3,2019,29.9,144.1,237.0,381.1,19.4,112.6,169.2,281.8,SF
4,2019,23.8,85.1,294.6,379.7,24.9,110.9,244.9,355.8,ATL
...,...,...,...,...,...,...,...,...,...,...
633,2000,19.2,109.2,167.2,276.4,19.2,113.9,200.6,314.6,DET
634,2000,16.8,66.4,202.4,268.8,27.5,88.9,221.1,309.9,NaN
635,2000,11.6,144.6,121.6,266.2,22.4,120.3,222.6,342.9,CIN
636,2000,15.8,75.9,173.8,249.6,25.8,123.9,226.5,350.4,ATL
637,2000,10.1,67.8,152.8,220.6,26.2,156.6,196.1,352.7,CLE

In [4]:
salary_df = pd.read_csv('temp/salary_df.csv')
players_df = pd.read_csv('temp/players_df.csv')

In [6]:
players_df.head(1)

,Unnamed: 0,PlayerID,POS,Age,HT,WT,Exp,College,FullName,First Name,Last Name,TeamID
0,0,Mario Addison97,DE,32,"6' 3""",260 lbs,10,Troy,Mario Addison,Mario,Addison,BUF

In [8]:
salary_df.head(1)

   Unnamed: 0  Rank First_Name Last_Name Pos   TM    Salary
0           0   1.0       Kirk   Cousins  QB  MIN  27500000

In [11]:
salary_df = salary_df.merge(players_df, how = 'left', left_on = ['First_Name','Last_Name'], right_on = ['First Name','Last Name'])

In [13]:
salary_df = salary_df[['PlayerID','Rank', 'Pos', 'Salary']]
salary_df

                  PlayerID    Rank Pos    Salary
0            Kirk Cousins8     1.0  QB  27500000
1          Marcus Mariota8     2.0  QB  20922000
2           Jameis Winston     2.0  QB  20922000
3              Derek Carr4     4.0  QB  19900000
4                      NaN     5.0  QB  18500000
...                    ...     ...  ..       ...
1931       Michael Dogbe91  1584.0  DL    495000
1932  Ross Pierschbacher64  1584.0  OL    495000
1933        Alex Redmond62  1912.0   G    493236
1934         Holton Hill24  1913.0  CB    435882
1935                   NaN  1914.0  TE    378000

[1936 rows x 4 columns]

In [24]:
salary_df = salary_df[salary_df.PlayerID != 'NaN']
salary_df = salary_df.dropna().reset_index(drop=True)

In [25]:
salary_df.to_csv("../Resources/salary_df.csv")