In [1]:
from bs4 import *
import requests
import re
import pandas as pd

In [2]:
df = pd.read_csv("team_links.csv")

In [3]:
master_offense = pd.DataFrame({})
master_defense = pd.DataFrame({})
master_special = pd.DataFrame({})


for i in range(0,len(df.Team)):
#for i in range(0,2):
    url = df.roster_links[i]
    table=pd.read_html(url)
    
    offense_table = table[0][["Name","POS","Age","HT","WT","Exp","College"]]
    offense_table["team"]=df.Team[i]
    defense_table = table[1][["Name","POS","Age","HT","WT","Exp","College"]]
    defense_table["team"]=df.Team[i]
    special_table = table[2][["Name","POS","Age","HT","WT","Exp","College"]]
    special_table["team"]=df.Team[i]
    

    #merge all the tables into master DF
    master_offense=pd.concat([master_offense,offense_table])
    master_defense=pd.concat([master_defense,defense_table])
    master_special=pd.concat([master_special,special_table])

In [4]:
master_offense=master_offense.reset_index(drop=True)
master_defense=master_defense.reset_index(drop=True)
master_special=master_special.reset_index(drop=True)

master_offense.to_csv("roster/offense.csv")
master_defense.to_csv("roster/defense.csv")
master_special.to_csv("roster/special.csv")

In [5]:
master_defense

,Name,POS,Age,HT,WT,Exp,College,team
0,Mario Addison97,DE,32,"6' 3""",260 lbs,10,Troy,Bills
1,Bryan Cox Jr.94,DE,25,"6' 3""",270 lbs,4,Florida,Bills
2,AJ Epenesa57,DE,21,"6' 6""",280 lbs,R,Iowa,Bills
3,Jerry Hughes55,DE,31,"6' 2""",254 lbs,11,TCU,Bills
4,Darryl Johnson92,DE,23,"6' 6""",253 lbs,2,North Carolina A&T,Bills
...,...,...,...,...,...,...,...,...
1303,Quandre Diggs37,S,27,"5' 9""",198 lbs,6,Texas,Seahawks
1304,Lano Hill42,S,24,"6' 1""",216 lbs,4,Michigan,Seahawks
1305,Bradley McDougald30,S,29,"6' 1""",215 lbs,8,Kansas,Seahawks
1306,Chris Miller,S,--,"6' 0""",191 lbs,R,Baylor,Seahawks
1307,Debione Renfro,S,--,"6' 1""",198 lbs,R,Texas A&M,Seahawks